{% extends "layout.html" %}
{% load static %}
{% block content %}
    <h1>Monitoring</h1>
    <hr>
    <div class="card-columns">
      {% for indicator in indicator_contexts %}
        <div class="card">
          <canvas id="indicator-chart-{{ indicator.id }}" height="250"></canvas>
          <div class="card-body">
              <h5 class="card-title"><a href="{% url 'context' indicator.id %}">{{ indicator.name }}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ indicator.indicator }}</h6>
          </div>
        </div>
      {% empty %}
          <div class="alert alert-primary" role="alert">
              <img src="{% static 'images/exclamation-triangle.svg' %}">
              No indicator is published at the moment.
          </div>
      {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock %}